* {
    box-sizing: border-box;
}

.main-left {width: 16.66%;}
.main-right {width: 83.33%;}

[class*="main-"] {
    float: left;
    padding: 0;
}

#time {
    font-size: 5vw;
    padding: 0;
    margin: 0;
    text-align: center;
}

#temp {
    font-size: 15vw;
    padding: 0;
    margin: 0;
    text-align: center;
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 720px) {
}

